*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-bg: #111;

  --clr-text: #fff; 
  --clr-text-hover: #fff;

  --clr-text-btn: #111;
}

html {
  scroll-behavior: smooth;
}

h1,h2,h3 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-text);
}

.btn {
  cursor: pointer;
  display: inline;
  background-color: #fff;
  color: var(--clr-text-btn);
  padding: 0.4rem 0.6rem;
  border-radius: 30px;
  box-shadow: 0 6px #999;
  transition: background-color 0.2s linear;
}

.btn:hover {
  background-color: #d82bbb;
}

.btn:active {
  background-color: #d82bbb;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

body {
  margin: 0;padding: 0;
  background-color: #111;
  font-family: 'Karla', sans-serif;
  letter-spacing: -1px;
  font-weight: 900;
  color: var(--clr-text);
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1200px;
}

section {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* NAV START */
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 20px;
    background-color: #111;
    z-index: 99;
  }
  
  .nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .nav-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-list ul li {
    padding: 0.7rem;
  }

  .nav-list ul .btn {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  }

  .title h1 {
    font-weight: 900;
    font-size: 2rem;
  }
/* NAV END */

/* HOME START */

.home-container {
  display: flex;
  height: 100%;
}

.main-left {
  width: 50%;
  height: 100%;
  flex-direction: column;
}

.main-left h1,
.main-left h3 {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.main-left h3 {
  color: rgb(213, 213, 213);
}

.main-left h1 {
  font-size: 5.5rem;
  padding: 1rem 0;
}

.main-left .btn {
  font-size: 1.1rem;
  padding: 0.4rem 0.7rem;
}

.main-right {
  width: 50%;
  height: 100%;
}

.main-right .img-box{
  width: 75%;
  height: 75%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 30% 70% 70% 30% / 33% 30% 70% 67%;
  background-image: url(images/logo.png);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  overflow: hidden;
  box-shadow: inset 0 0 30px #000000;
}

/* HOME END */



@media only screen and (max-width: 1060px) {
  .nav-list {
    display: none;
  }

  .home-container {
    display: flex;
    flex-direction: column;
  }

  .main-left,
  .main-right {
    width: 100%;
  }

  .main-left {
    margin-top: -1.5rem;
  }

  .main-right {
    height: 0;
  }

  .main-right .img-box {
    display: none;
  }
}


























footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 13px;
  padding: 0.2rem;
  color: var(--clr-text-btn);
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 12px;
  position: relative;
  z-index: 999;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #111;
  border: 2px solid #fff;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}
/* SCROLLBAR */